<a href="https://colab.research.google.com/github/nishantkumar1308/Getting-Started-With-google-Colab/blob/main/Pythontutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello");

hello

Basic printing of Hello wolrd in python.

In [ ]:
a=10
print(a,end=" ")
print(12)
print(12);

10 12
12

In [ ]:
print(a)

10

variables in python no need of declaration  by int,char etc.
It uses typeof to find the data type in python.

In [ ]:
a=10;
print(type(a))
b=13.5
print(type(b));
c = 2+3j;
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a=25
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

29
21
100
6.25
6
1
390625

In [ ]:
a="Nishant"
b='Nishant'
print(a)
print(b)

Nishant
Nishant

Properties of String...
/**String object are immuteable**/
you can't assign new char in b/w strings.

In [ ]:
a="Nishant";
print(a)
print(len(a))
print(type(a))
print(a[0])
c="cat"
d="dog"
e=c+d
#concatnate string
print(e)
#functions in strings
a="apple"
#upper string 
print(a.upper())
#lower char
print(a.lower())
# strip leading and lagging space 
p="   cdefds   "
print(p.strip())
#isalpha()
print(p.isalpha())#b/c it contain spaces b/w them
print(a.isalpha())

Nishant
7
<class 'str'>
N
catdog
APPLE
apple
cdefds
False
True

In [ ]:
#user input in python
a=input()#by defalut python take input as a stirng
print(a)
print(type(a))

s
s
<class 'str'>

In [ ]:
#sting slicing
n="abc"
print(n[0])
print(n[1])
print(n[2])
#reverse number is negative indexing 
print(n[-1])
print(n[-2])
print(n[-3])
#slicing is substring of string
a="abcdefghijk"
print(a[1:3])
print(a[3:6])
print(a[-3:-1])

a
b
c
c
b
a
bc
def
ij

Tuples in pyton where you have multiple things togather

In [ ]:
t=(1,3,3)
type(t)

tuple

Boolean/LOOPS/conditionals

In [ ]:
a=True
print(a)
#rlational operators
x=10
y=20
print(x>y)
print(x==y)
print(x<y)
print(x!=y)

True
False
False
True
True

In [4]:
#if else conditional value
#indentation mandatory
x=10
y=20
if x>y:
  print(x)
else:
  print(y)

20

In [9]:
#loops
i=0
while i<10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

In [10]:
range(1,10)

range(1, 10)

In [15]:
#loop using  python:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for i in range(0,8,4):
  print(i)

0
4

In [25]:
#print prime number;
n=int(input())
prime = True
for i in range(2,n-1):
  if(n%i==0):
    prime=False
    break
if prime:
  print("prime")

else:
  print("non prime")

4
non prime

In [27]:
#fast iteration
n='abcderd'
for c in n:
  print(c)

a
b
c
d
e
r
d

In [32]:
#fast iteration in tuples
animal=("cat","dog",1,True)
for i in animal:
  print(i)

cat
dog
1
True

In [33]:
#function 
def sum(a,b):
  z=a+b
  return z

x=10
y=20
print(sum(x,y))

30

Defining function in python using def and point to note that the indentation is important:

In [35]:
#default argument to function 
def power(x,y=2):
  return x**y

n=10
e=4
print(power(n,e))#providing both argument
#provide default argument
print(power(12))

10000
144

In [40]:
def sum(a,b=1,c=2):
  return a+b+c

a=1
print(sum(a))#2 default arg
print(sum(a,3))#1 default arg
print(sum)
print(sum(a,4,5))

4
6
<function sum at 0x7f8258267e60>
10